/* Import your font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    /* Sets the default size for p, span, li, input, etc. */
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--color-text);
    /* defined in your variables file */
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
    /* Headings need t+ighter line height */
    font-weight: 700;
    margin-bottom: var(--spacing-md);
}

h1 {
    font-size: var(--fs-3xl);
}

h2 {
    font-size: var(--fs-2xl);
}

h3 {
    font-size: var(--fs-xl);
}

h4 {
    font-size: var(--fs-lg);
}

/* Helper Class for small text */
.text-sm {
    font-size: var(--fs-sm);
}